.servicios {
    text-align: center;
    margin-top: 46px;
    .servicio {
		padding-left: 0;
		h4 {
		    margin-top: 1.5rem;
		    font-size: 1.25rem;
		    color: #2f2f2f;
		    font-weight: 300;
		}
		p {
		    margin-top: 0.75rem;
		    font-size: 0.8125rem;
		    color: #666;
		    font-weight: 300;
		    line-height: 1.5rem;
		}
    }
}